<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019999522409-qp748fgbfj3ai9koi4ia74k9fhhm57an.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019999522409-qp748fgbfj3ai9koi4ia74k9fhhm57an</string>
	<key>API_KEY</key>
	<string>AIzaSyCN4IKLaeKlNHOQtghu8uYiFNO1g3JOG_8</string>
	<key>GCM_SENDER_ID</key>
	<string>1019999522409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sara.sara.SaraChat</string>
	<key>PROJECT_ID</key>
	<string>sarachatt-88fa8</string>
	<key>STORAGE_BUCKET</key>
	<string>sarachatt-88fa8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019999522409:ios:f5cf7c7e3ba3f7f5ebdcf8</string>
</dict>
</plist>